table{
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid black;
    width: 500px;
    border-collapse: collapse; 
}
tr{
    border-bottom: 1pt solid black;
}
td, th{
    text-align: left;
}
form{
    width: 320px;  
}
h1{
    width: 300px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 200%;
    border-bottom: 3px solid black;
}

p{
    text-align: right;
}
#submit{
    margin-top: 30px;
}